
/*项目列表搜索*/
.project{
	margin: 0 auto;
	max-width: 1200px;
	padding:20px 0;
}

.project a{
	display:block;
	width:60px;
	height:70px;
	float:left;
	font-size:14px;
	padding-top:5px;
	text-align: center;
	cursor: pointer;
}
.project a:hover{
	color:#d84a38;
}

.project p{
	margin:5px 0 0 0;
}
.project0,
.project0:hover,
.project01,
.project01:hover,
.project02,
.project02:hover,
.project03,
.project03:hover,
.project04,
.project04:hover,
.project05,
.project05:hover,
.project06,
.project06:hover,
.project07,
.project07:hover,
.project08,
.project08:hover,
.project09,
.project09:hover,
.project10,
.project10:hover,
.project11,
.project11:hover,
.project12,
.project12:hover,
.project13,
.project13:hover,
.project00,
.project010,
.project020,
.project030,
.project040,
.project050,
.project060,
.project070,
.project080,
.project090,
.project100,
.project110,
.project120,
.project130
{
	width:34px;
	height:34px;
	display: inline-block;
	background:url(../../customize/css/img/ico.png) no-repeat;
}

.projectall{
	width:94px;
	height:71px;
	float:left;
	margin-right:10px;
	background-position: 0 0;
	background:url(../../customize/css/img/ico.png) no-repeat;
}
.project00{
	background-position: -106px -40px;
}
.project0{
	background-position: -106px 0;
}
.project0:hover{
	background-position: -106px -40px;
}
.project01{
	background-position: -106px -160px;
}
.project01:hover{
	background-position: -106px -198px;
}
.project010{
	background-position: -106px -198px;
}
.project02{
	background-position: -146px -160px;
}
.project02:hover{
	background-position: -146px -199px;
}
.project020{
	background-position: -146px -199px;
}
.project03{
	background-position: -186px -160px;
}
.project03:hover{
	background-position: -186px -199px;
}
.project030{
	background-position: -186px -199px;
}
.project04{
	background-position: -226px -160px;
}
.project04:hover{
	background-position: -226px -199px;
}
.project040{
	background-position: -226px -199px;
}
.project05{
	background-position: -266px -160px;
}
.project05:hover{
	background-position: -266px -199px;
}
.project050{
	background-position: -266px -199px;
}
.project06{
	background-position: -306px -160px;
}
.project06:hover{
	background-position: -306px -199px;
}
.project060{
	background-position: -306px -199px;
}
.project07{
	background-position: -346px -160px;
}
.project07:hover{
	background-position: -346px -199px;
}
.project070{
	background-position: -346px -199px;
}
.project08{
	background-position: -386px -160px;
}
.project08:hover{
	background-position: -386px -199px;
}
.project080{
	background-position: -386px -199px;
}
.project09{
	background-position: -755px -80px;
}
.project09:hover{
	background-position: -755px -119px;
}
.project090{
	background-position: -755px -119px;
}
.project10{
	background-position: -426px -160px;
}
.project10:hover{
	background-position: -426px -199px;
}
.project100{
	background-position: -426px -199px;
}
.project11{
	background-position: -466px -160px;
}
.project11:hover{
	background-position: -466px -199px;
}
.project110{
	background-position: -466px -199px;
}
.project12{
	background-position: -506px -160px;
}
.project12:hover{
	background-position: -506px -199px;
}
.project120{
	background-position: -506px -199px;
}
.project13{
	background-position: -546px -160px;
}
.project13:hover{
	background-position: -546px -199px;
}
.project130{
	background-position: -546px -199px;
}

/*资金列表搜索*/

.fund{
	margin: 0 auto;
	max-width: 1200px;
	padding:20px 0;
}

.fund a{
	display:block;
	width:70px;
	height:70px;
	float:left;
	font-size:14px;
	padding-top:5px;
	text-align: center;
	cursor: pointer;
}

.fund a:hover{
	-webkit-animation:toTopFromBottom .3s forwards;
	-moz-animation:toTopFromBottom .3s forwards;
	animation:toTopFromBottom .3s forwards;
	color:#d84a38;
}

.fund p{
	margin:5px 0 0 0;
}

.fund0,
.fund0:hover,
.fund01,
.fund01:hover,
.fund02,
.fund02:hover,
.fund03,
.fund03:hover,
.fund04,
.fund04:hover,
.fund05,
.fund05:hover,
.fund06,
.fund06:hover,
.fund07,
.fund07:hover,
.fund08,
.fund08:hover,
.fund00,
.fund010,
.fund020,
.fund030,
.fund040,
.fund050,
.fund060,
.fund070,
.fund080
{
	width:34px;
	height:34px;
	display: inline-block;
	background:url(../../customize/css/img/ico.png) no-repeat;
}

.fundall{
	width:94px;
	height:71px;
	float:left;
	margin-right:10px;
	background-position: 0 0;
	background:url(../../customize/css/img/ico.png) no-repeat;
}

.fund00{
	background-position: -106px -40px;
}
.fund0{
	background-position: -106px 0;
}
.fund0:hover{
	background-position: -106px -40px;
}
.fund01{
	background-position: -146px -80px;
}
.fund01:hover{
	background-position: -146px -119px;
}
.fund010{
	background-position: -146px -119px;
}
.fund02{
	background-position: -106px -80px;
}
.fund02:hover{
	background-position: -106px -119px;
}
.fund020{
	background-position: -106px -119px;
}
.fund03{
	background-position: -186px -80px;
}
.fund03:hover{
	background-position: -186px -119px;
}
.fund030{
	background-position: -186px -119px;
}
.fund04{
	background-position: -226px -80px;
}
.fund04:hover{
	background-position: -226px -119px;
}
.fund040{
	background-position: -226px -119px;
}
.fund05{
	background-position: -266px -80px;
}
.fund05:hover{
	background-position: -266px -119px;
}
.fund050{
	background-position: -266px -119px;
}
.fund06{
	background-position: -386px -80px;
}
.fund06:hover{
	background-position: -386px -119px;
}
.fund060{
	background-position: -386px -119px;
}
.fund07{
	background-position: -306px -80px;
}
.fund07:hover{
	background-position: -306px -119px;
}
.fund070{
	background-position: -306px -119px;
}
.fund08{
	background-position: -346px -80px;
}
.fund08:hover{
	background-position: -346px -119px;
}
.fund080{
	background-position: -346px -119px;
}

/*艺人列表搜索*/

.artist{
	margin: 0 auto;
	max-width: 1200px;
	padding:20px 0;
}

.artist a{
	display:block;
	width:60px;
	height:70px;
	float:left;
	font-size:14px;
	padding-top:5px;
	text-align: center;
	cursor: pointer;
	color: #666;
}
.artist a:hover{
	color:#d84a38;
}

.artist p{
	margin:5px 0 0 0;
}
.artist0,
.artist0:hover,
.artist01,
.artist01:hover,
.artist02,
.artist02:hover,
.artist03,
.artist03:hover,
.artist04,
.artist04:hover,
.artist05,
.artist05:hover,
.artist06,
.artist06:hover,
.artist07,
.artist07:hover,
.artist08,
.artist08:hover,
.artist09,
.artist09:hover,
.artist10,
.artist10:hover,
.artist11,
.artist11:hover,
.artist12,
.artist12:hover,
.artist13,
.artist13:hover,
.artist14,
.artist14:hover,
.artist15,
.artist15:hover,
.artist16,
.artist16:hover,
.artist17,
.artist17:hover,
.artist18,
.artist18:hover,
.artist00,
.artist010,
.artist020,
.artist030,
.artist040,
.artist050,
.artist060,
.artist070,
.artist080,
.artist090,
.artist100,
.artist110,
.artist120,
.artist130,
.artist140,
.artist150,
.artist160,
.artist170,
.artist180
{
	width:34px;
	height:34px;
	display: inline-block;
	background:url(../../customize/css/img/ico.png) no-repeat;
}

.artistall{
	width:94px;
	height:71px;
	float:left;
	margin-right:10px;
	background-position: 0 0;
	background:url(../../customize/css/img/ico.png) no-repeat;
}
.artist00{
	background-position: -106px -40px;
}
.artist0{
	background-position: -106px 0;
}
.artist0:hover{
	background-position: -106px -40px;
}
.artist01{
	background-position: -106px 0;
}
.artist01:hover{
	background-position: -106px -40px;
}
.artist010{
	background-position: -106px -40px;
}
.artist02{
	background-position: -147px 0px;
}
.artist02:hover{
	background-position: -147px -39px;
}
.artist020{
	background-position: -147px -39px;
}
.artist03{
	background-position: -187px 0px;
}
.artist03:hover{
	background-position: -187px -39px;
}
.artist030{
	background-position: -187px -39px;
}
.artist04{
	background-position: -228px 0px;
}
.artist04:hover{
	background-position: -228px -39px;
}
.artist040{
	background-position: -228px -39px;
}
.artist05{
	background-position: -268px 0px;
}
.artist05:hover{
	background-position: -268px -39px;
}
.artist050{
	background-position: -268px -39px;
}
.artist06{
	background-position: -309px 0px;
}
.artist06:hover{
	background-position: -309px -39px;
}
.artist060{
	background-position: -309px -39px;
}
.artist07{
	background-position: -349px 0px;
}
.artist07:hover{
	background-position: -349px -39px;
}
.artist070{
	background-position: -349px -39px;
}
.artist08{
	background-position: -390px 0px;
}
.artist08:hover{
	background-position: -390px -39px;
}
.artist080{
	background-position: -390px -39px;
}
.artist09{
	background-position: -431px 0px;
}
.artist09:hover{
	background-position: -431px -39px;
}
.artist090{
	background-position: -431px -39px;
}
.artist10{
	background-position: -471px 0px;
}
.artist10:hover{
	background-position: -471px -39px;
}
.artist100{
	background-position: -471px -39px;
}
.artist11{
	background-position: -512px 0px;
}
.artist11:hover{
	background-position: -512px -39px;
}
.artist110{
	background-position: -512px -39px;
}
.artist12{
	background-position: -552px 0px;
}
.artist12:hover{
	background-position: -552px -39px;
}
.artist120{
	background-position: -552px -39px;
}
.artist13{
	background-position: -593px 0px;
}
.artist13:hover{
	background-position: -593px -39px;
}
.artist130{
	background-position: -593px -39px;
}
.artist14{
	background-position: -633px 0px;
}
.artist14:hover{
	background-position: -633px -39px;
}
.artist140{
	background-position: -633px -39px;
}
.artist15{
	background-position: -674px 0px;
}
.artist15:hover{
	background-position: -674px -39px;
}
.artist150{
	background-position: -674px -39px;
}
.artist16{
	background-position: -714px 0px;
}
.artist16:hover{
	background-position: -714px -39px;
}
.artist160{
	background-position: -714px -39px;
}
.artist17{
	background-position: -755px 0px;
}
.artist17:hover{
	background-position: -755px -39px;
}
.artist170{
	background-position: -755px -39px;
}
.artist18{
	background-position: -755px -80px;
}
.artist18:hover{
	background-position: -755px -119px;
}
.artist180{
	background-position: -755px -119px;
}